<div id="sidebar">
    <div class="list-group">
        <li class="list-group-item">
            <a href="/dashboard">Dashboard</a>
        </li>
    </div>
    <div class="list-group">
        <li class="list-group-item">
            <a href="/posts/create-post">Create New Post</a>
        </li>
    </div>
    <div class="list-group">
        <li class="list-group-item">
            <a href="/posts">My Post</a>
        </li>
    </div>
    <div class="list-group">
        <li class="list-group-item">
            <a href="/dashboard/bookmarks">Bookmarks</a>
        </li>
    </div>
    <div class="list-group">
        <li class="list-group-item">
            <a href="/dashboard/comments">Comments</a>
        </li>
    </div>
    <div class="list-group">
        <li class="list-group-item">
            <a href="/dashboard/edit-profile">Edit Profile</a>
        </li>
    </div>
    <div class="list-group">
        <li class="list-group-item">
            <a href="/explorer">Explorer</a>
        </li>
    </div>
    <div class="list-group">
        <li class="list-group-item">
            <a href="/auth/change-password">Change Password</a>
        </li>
    </div>
    <div class="list-group">
        <li class="list-group-item">
            <a href="/auth/logout">Logout</a>
        </li>
    </div>

</div>